table {
	border: 1px solid black;
}
tr {
	border: 1px solid black;
	padding: 5px;
	margin: 0;
}
td {
	padding: 5px;
	margin: 0;
}
#Weekday {
	color: lightgray;
	display: inline;
	border-top: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	cursor: pointer;
}
#Saturday {
	color: lightgray;
	display: inline;
	border-top: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	cursor: pointer;
}
#Sunday {
	color: lightgray;
	display: inline;
	border-top: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	cursor: pointer;
}
#dayTabs div.selectedDay {
	color: #238;
	border: solid 1px gray;
	border-bottom: solid 2px white;
	font-weight: bold;
	z-index:999;
}
.header {
	border-right: solid 1px black;
}
#flipRoute {
	padding: 5px;
	border-radius: 5px;
	margin: 10px;
	margin-bottom: 25px;
}
select {
	padding: 5px;
	border-radius: 5px;
	margin: 10px;
	margin-bottom: 25px;
}
#datePicker {
	padding: 10px;
}
#datepicker {
	margin: 10px;
	border-radius: 5px;
	width: 250px;
}
#schedule {
	overflow-x: auto;
	overflow-y: auto;
	border: solid 1px gray;
	margin-bottom: 15px;
	border-radius: 0 5px 5px 5px;
}
ul {
	list-style-type: none;
}
#side-nav {
	height: 100%;
	width: 100%;
	margin: 50px 0 0 0;
}
#side-nav li {
	width: 100%;
	padding: 10px;
	cursor: pointer;
}
#side-nav li:hover {
	background-color: lightgray;
}
#side-nav ul {
	border: solid 1px gray;
	border-radius: 5px;
	padding: 0;
}
#side-header {
	color: #238;
	font-weight: bold;
}
#side-nav #side-header:hover {
	background-color: white;
	cursor: auto;
}
#side-nav ul li.selectedTab {
	background-color: gray;
	font-weight: bold;
}
.selectedTab:hover {
	background-color: gray;
}
#left-bar {
	padding-left: 0;
}
#middle {
	border: solid 1px gray;
	border-radius: 5px;
	margin: 50px 0 0 0;
}
#ui-datepicker-div {
	background-color: white;
	border: solid 1px gray;
	border-radius: 5px;
}
#ui-datepicker-div tr {
	border: 1px solid gray;
}
.ui-datepicker td a {
	text-align: center;
}
#mainSchedule {
	clear: both;
	padding-top: 15px;
}
#dayTabs input[type="button"] {
	border-radius: 5px;
}
#applyFilter {
	margin-left: 700px;
}
#disclaimer {
	margin-left: 20px;
}
input[type="time"] {
	border-radius: 5px;
	height: 30px;
	padding: 5px 1px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
select#stopListStart, select#stopListEnd {
	margin-bottom: 10px;
}
.centerText {
	margin: 0;
}
#customizeRoute h4 {
	color: #238;
}